<footer class="footer">
  <div class="wrapper">
    <div class="logo-brook">
      <img
        src="./assets/images/brook-logo.png"
        alt="Logo de brook"
        title="logo de brook"
      />
    </div>
    <div class="about-us">
      <h3>About us</h3>
      <nav>
        <ul>
          <li>
            <a href="#" title>About us</a>
          </li>
          <li>
            <a href="#" title>Team</a>
          </li>
          <li>
            <a href="#" title>Career</a>
          </li>
          <li>
            <a href="#" title>Services</a>
          </li>
          <li>
            <a href="#" title>Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="contact">
      <h5>Contact</h5>
      <div class="adress">
        <span>2005 Stokes Isle Apt. 896.</span>
        <span>ana ville 10010, USA</span>
        <span>info@yourdomain.com</span>
        <span>(+68)120034509</span>
      </div>
      <div class="social">
        <nav class="social-media">
          <ul>
            <li>
              <a
                href="https://facebook.com"
                target="_blank"
                title="Ir a Facebook"
                ><i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com" target="_blank" title="Ir a twitter"
                ><i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com"
                target="_blank"
                title="Ir a instagram"
                ><i class="fab fa-instagram"></i
              ></a>
            </li>
            <li>
              <a
                href="https://pinterest.com
      "
                target="_blank"
                title="Ir a Pinterest"
                ><i class="fab fa-pinterest"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="text-end">
      <small>
        <nav>
          <ul>
            <li>
              <a href="#" title="Our blog">Our blog</a>
            </li>
            <li>
              <a href="#" title="Últimos proyectos">Latest projects</a>
            </li>
            <li>
              <a href="#" title="Contáctanos">Contact us</a>
            </li>
          </ul>
        </nav>
        &copy; 2019 Brook. All Rights Reserved.
      </small>
    </div>
  </div>
</footer>
