<footer class="footer">
  <div class="logo-brook">
    <img
      href="./assets/images/brook-logo.png"
      alt="Logo de brook"
      title="logo de brook"
    />
  </div>
  <div>
    <h6>contact</h6>
    <span>2005 Stokes Isle Apt. 896.</span>
    <span>ana ville 10010, USA</span>
    <span>info@yourdomain.com</span>
    <span>(+68)120034509</span>
  </div>

  <nav class="social-media">
    <ul>
      <li>
        <a href="https://facebook.com" target="_blank" title="Ir a Facebook"
          ><i class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com" target="_blank" title="Ir a twitter"
          ><i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com"
          target="_blank"
          title="Ir a instagram"
          ><i class="fab fa-instagram"></i
        ></a>
      </li>
      <li>
        <a
          href="https://pinterest.com
      "
          target="_blank"
          title="Ir a Pinterest"
          ><i class="fab fa-pinterest"></i>
        </a>
      </li>
    </ul>
  </nav>
  <small>
    <span><a href="#" title="Our blog">Our blog</a> </span>
    <span><a href="#" title="Últimos proyectos">Latest projects</a> </span>
    <span><a href="#" title="Contáctanos">Contact us</a> </span>
    &copy; 2019 Brook. All Rights Reserved.
  </small>
</footer>
