<header>
  <div class="wrapper">
    <div class="header">
      <a class="brook-logo" href="#" title="Ir a la home"
        ><img src="./assets/images/brook-logo.png" alt="Brook logo"
      /></a>

      <nav>
        <a href="#" class="header-mobile-button" title="Mostrar menú móvil">
        </a>
        <ul class="header-menu">
          <li><a href="#" title="Ir a la home">home</a></li>
          <li><a href="#" title="Ir a páginas">pages</a></li>
          <li><a href="#" title="Ir a Portfolio">portfolio</a></li>
          <li><a href="#" title="Ir al Blog">blog</a></li>
          <li><a href="#" title="Ir a Contacto">contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
