<main class="main">
  <div class="hero">
    <h1>
      <span>- This is Brook</span>
      <span>A full-service</span>
      <span>creative agency.</span>
    </h1>
  </div>
  <section>
    <div>
      <h3>what we do</h3>
      <p>
        we design & build brands, campaigns & digital projects for businesses
        large & small.
      </p>
    </div>
    <article>
      <div class="modern-desgin-1">
        <img
          src="./assets/images/eye-icon.jpg"
          alt="Icono de ojo"
          title="icono de ojo"
        />
        <h6></h6>
        <p></p>
        <a href="#" title="Ver más detalles">more details</a> <span>p</span>
      </div>
    </article>
    <article>
      <div class="modern-desgin-2">
        <img
          src="./assets/images/book-icon.jpg"
          alt="Icono de libro"
          title="Icono de libro"
        />
        <h6></h6>
        <p></p>
        <a href="#" title="Ver más detalles">more details</a> <span>p</span>
      </div>
    </article>
    <article>
      <div class="modern-desgin-3">
        <img
          src="./assets/images/boxes-icon.jpg"
          alt="Icono de cajas"
          title="icono de cajas"
        />
        <h6></h6>
        <p></p>
        <a src="#" title="Ver más detalles">more details</a> <span>p</span>
      </div>
    </article>
  </section>
</main>
