<main class="main">
  <div clas="wrapper">
   <div class="hero">
    <h1 class="main-text">
      <span>- This is Brook</span>
      <span>A full-service</span>
      <span>creative agency.</span>
    </h1>
  </div>
  <section class="options">
    <div class="presentation">
      <h3>what we do</h3>
      <p>
       We design & build brands, campaigns & digital projects for businesses
        large & small.
      </p>
    </div>
    <article class="options">
      <div class="modern-desgin-1">
        <img
          src="./assets/images/eye-icon.jpg"
          alt="Icono de ojo"
          title="icono de ojo"
        />
        <h6>Modern desing</h6>
        <p>Brook embraces a modern look with various enhanced predefined page elements.</p>
        <span><a src="#" title="Ver más detalles">more details</a></span> <span class="details-icon"><i class="fas fa-arrow-right"></i></span>
      </div>
    </article>
    <article class="option">
      <div class="modern-desgin-2">
        <img
          src="./assets/images/book-icon.jpg"
          alt="Icono de libro"
          title="Icono de libro"
        />
        <h6>Modern desing</h6>
        <p>Brook embraces a modern look with various enhanced predefined elements.</p>
        <span><a src="#" title="Ver más detalles">more details</a></span> <span class="details-icon"><i class="fas fa-arrow-right"></i></span>
      </div>
    </article>
    <article class="option">
      <div class="modern-desgin-3">
        <img
          src="./assets/images/boxes-icon.jpg"
          alt="Icono de cajas"
          title="icono de cajas"
        />
        <h6>Modern Design</h6>
        <p>Brook embraces a modern look with varios enhanced predefined page elements.</p>
        <span><a src="#" title="Ver más detalles">more details</a></span> <span class="details-icon"><i class="fas fa-arrow-right"></i></span>
      </div>
    </div>
    </article>
  </section>
</main>
